@import './globals.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
      .border-border {
        border-color: var(--border); /* Example using a CSS variable */
      }
      .outline-ring\/50 {
        outline-color: var(--ring);
        outline-width: 50%;
      }
      .bg-background {
        background-color: var(--background);
      }
      .text-foreground {
        color: var(--foreground);
      }

    }
